.container {

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: auto;
    grid-gap: 1em;
    max-width: 1500px;
    margin: auto;
    padding: 25px;
    

  }

  .container > div {

    background-color: #777;



  }

  .imgab {

    max-width: 500px;
    max-height: 450px;
  }

  .box1 {
    max-width: 500px;
    padding: 25px;

    border-radius: 20px;
    
  color: white;

  grid-row: 1/3;

  }


  .lastrow {

    display: block;

  }

  button :hover{

    background-color: aqua;
  }