body, html {
    height: 100%;
    font: 400 15px/1.8 "Lato", sans-serif;
    margin: 0;
    color: #777;
  }
  
  
  .header {
      position: sticky;
      top: 0px;
      z-index: 1;
      width: 100%;
      min-height: 90px;
      color: #fff;
      background: #30948D;
      font-family: sans-serif;
      
  }

  .headerContainer {
    display: grid;

      grid-template-columns: repeat(2, 1fr);
      max-width: 85vw;
      margin: auto;
  }
  .totop{
    display: inline;
    position: fixed;
    top: 90%;
    left: 95%;
  }

  #left {
    
    max-width: 250px;
    float: left;
    
    
  }

  #left a {
    
      color: white;
      text-decoration: none;
  }

  #right {
    display: grid;
 
    grid-template-columns: repeat(3, 1fr );
    font-weight: 600;
height: 100%;
    margin-left: auto;
    align-self: center;
 
}


#right a {
 display: flex;
margin:auto;
  justify-content: center;
 max-height: 70%;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    min-width: 75px;
    font-size: 16px;
    border-radius: 10px;
    -webkit-box-shadow: 0 13px 27px 0 rgba(163, 48, 53, 0.25);
    box-shadow: 0 0px 27px 0 rgba(255, 255, 255, 0.25);
    -webkit-transition: .9s;
    transition: .9s;
  }
  #right a p {
    padding: 0px 5px;
  }

  #right a:hover {
    background-color: rgb(70, 158, 62);
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 13px 27px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0px 27px 0 rgba(0, 0, 0, 0.25);
  }
  #alphaq{
    max-width: 250px;
    margin-left: 5%;
  }
  
  #alphaq span#a {
    display: block;
    white-space: nowrap;
    
    animation: aniBashar 2s;

  
    animation-fill-mode: forwards;
  }
  
  #alphaq:hover span#a {
    display: none;
  }
  
  #alphaq span#b {
  display: none;
  
  white-space: nowrap;
  }
  
  #alphaq:hover span#b {
display: block;
overflow: hidden;

  animation: aniBD  1.5s ;
  
  animation-fill-mode: forwards;
  
  }

  @keyframes aniBD  {
    from{width: 0px;
    
      opacity: 1;}
      75% {
        font-size: 50px;
      }
    to{width: 200px;
      font-size: 2rem;
      opacity: 1;
      
    }
    }
 @keyframes aniBashar {

  from{
width: 0px;
  }
  to{
width: 200px;
  }

  }
  img.icon{
    width: 23px; 
  }
  

footer {
    display: block;
    bottom: 0;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px 30px;
  align-items: center; 
  justify-content: center;

}

  @media (max-width:800px){

    #left {
     
      top:25px;
      max-width: 150px;
      font-size: 8px;

    }
    #right a{
      position: relative;
     
       padding: 10px 10px; 
    }
    .headerContainer {
   
  
        grid-template-columns: 3fr 7fr;
        max-width: 90vw;
        margin: auto;
    }
    
  }
  @media (max-width: 500px) {
    .header {
      position: sticky;
      top: 0px;
      z-index: 1;
      width: 100%;
      min-height: 150px;
      color: #fff;
      background: #30948D;
      font-family: sans-serif;
      
  }
  img.icon{
    width: 18px; 
  }
  #alphaq{
    
    margin-left:35%;
  }
  .headerContainer {
    display: grid;
      grid-template-columns: 1fr;
      max-width: 100%;
      margin: auto;
  }
  #left{
    max-width: 100%;
  }
  #right {
    margin-left: 10px;
    align-self: baseline;
  
  }
    
  }
  
  .tooltip {
    text-align: center;
    color: #ddd;
    
  }