body, html {
    height: 95%;
    font: 400 15px/1.8 "Lato", sans-serif;
    margin: 0;
    color: #777;
  }
  
  
  .header {
      position: sticky;
      top: 0px;
      z-index: 1;
      width: 100%;
      min-height: 100px;
      color: #fff;
      background: #30948D;
      font-family: sans-serif;
      
  }

  .headerContainer {
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 85vw;
      margin: auto;
  }
  .totop{
    display: inline;
    position: fixed;
    top: 90%;
    left: 95%;
  }

  #left {
    
    max-width: 250px;
    float: left;
    position: relative;
    
  }

  #left a {
    
      color: white;
      text-decoration: none;
  }

  #right {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    margin-left: auto;
    align-self: center;
    top: 20px;
}

#right a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 75px;
    font-size: 17px;
  }

  #right a:hover {
    background-color: rgb(97, 163, 91);
    color: black;
    border-radius: 20px;
  }
  #alphaq{
    max-width: 250px;
    margin-left: 5%;
  }
  
  #alphaq span#a {
    display: inline;
  }
  
  #alphaq:hover span#a {
    display: none;
  }
  
  #alphaq span#b {
    display: none;
  }
  
  #alphaq:hover span#b {
    display: inline;
  }
  img.icon{
    width: 23px; 
  }
  

footer {
    display: block;
    bottom: 0;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px 30px;
  align-items: center; 
  justify-content: center;

}

  @media (max-width:800px){

    #left {
      position: relative;
      top:25px;
      max-width: 150px;
      font-size: 8px;

    }
    #right a{
      position: relative;
      top: 15px;
       padding: 10px 0px; 
    }
    
  }
  @media (max-width: 500px) {
    .header {
      position: sticky;
      top: 0px;
      z-index: 1;
      width: 100%;
      min-height: 150px;
      color: #fff;
      background: #30948D;
      font-family: sans-serif;
      
  }
  img.icon{
    width: 18px; 
  }
  #alphaq{
    
    margin-left:35%;
  }
  .headerContainer {
    display: grid;
      grid-template-columns: 1fr;
      max-width: 100%;
      margin: auto;
  }
  #left{
    max-width: 100%;
  }
  #right {
    margin-left: 10px;
    align-self: baseline;
    top: 20px;
  }
    
  }
  
  .tooltip {
    text-align: center;
    color: #ddd;
    
  }