* {
    box-sizing: border-box;
  }
input[type=text], textarea {

  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 12px;
  resize: vertical;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.column1{
  float: left;
  width: 50%;
margin-top: 0px;
padding: 20px;
}
h2{
  margin-top: 0px;
}
.container {
  padding-top: 10px;
  background-image: url("images/gridlook.jpg");
  background-size: cover;
}



div.row {
  padding: 25px;
}
div.column1 img {
  width: 95%;
  border-radius: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  

  button :hover{

    background-color: aqua;
  }
  @media screen and (max-width:666px){

    #left {
      position: relative;
      top:25px;
      max-width: 150px;
      font-size: 8px;

    }
    #right a{
      position: relative;
      top: 15px;
      padding: 0px 5px;
    }
    .column {
      float: left;
      width: 100%;
      margin-top: 6px;
      padding: 20px;
    }
    .column1{
      float: left;
      width: 100%;
    margin-top: 0px;
    padding: 20px;
    }
    div.column1 img {
      width: 100%;
    }
    p {
      margin: 15px;
    }
  }
