body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  margin: 0;
  color: #777;
}
.header {
    position: relative;
    width: 100%;
    height: 100px;
    color: #fff;
    background: #30948D;
    font-family: sans-serif;
}

#left {
    float: left;
    position: relative;
    left: 3%;
    
  }

  #left a {
      color: white;
      text-decoration: none;
  }

  #right {
      position: relative;
      float: right;
      top: 20px;
      right: 1.5%;
  }

  #right a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #right a:hover {
    background-color: rgb(97, 163, 91);
    color: black;
  }

  * {
    box-sizing: border-box;
  }
input[type=text], textarea {

  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 12px;
  resize: vertical;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  footer {

    display: block;
  }

  

  button :hover{

    background-color: aqua;
  }