
.bg1, .bg2, .bg3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.bg1 {
  background-image: url("images/bashar4.jpg");
  min-height: 90%;
}

.bg2 {
  background-image: url("images/basharone.jpg");
  min-height: 50%;
}

.bg3 {
  background-image: url("images/bashar3.jpg");
  min-height: 50%;
}

.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.box {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.projects{
  color: #fff;
  text-decoration: none;
}

.firstcaption {

  position: absolute;
  top:75%;
  width:100%;
  text-align: center;

}


span.firstbox{

  padding: 10px 25px;
  background-color: rgba(48, 148, 141, .65);
  font-size: 25px;
  color: #111;
  
  
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

  #alphaq span#a {
    display: inline;
  }
  
  #alphaq:hover span#a {
    display: none;
  }
  
  #alphaq span#b {
    display: none;
  }
  
  #alphaq:hover span#b {
    display: inline;
  }
 
  img{
    position: relative;
    top: 3px;

  }

  