body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  margin: 0;
  color: #777;
}


.header {
    position: sticky;
    
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100px;
    color: #fff;
    background: #30948D;
    font-family: sans-serif;
}

.bg1, .bg2, .bg3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.bg1 {
  background-image: url("bashar4.jpg");
  min-height: 90%;
}

.bg2 {
  background-image: url("basharone.jpg");
  min-height: 50%;
}

.bg3 {
  background-image: url("bashar3.jpg");
  min-height: 50%;
}

.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.box {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.firstcaption {

  position: absolute;
  top:75%;
  width:100%;
  text-align: center;

}


span.firstbox{

  padding: 10px 25px;
  background-color: rgba(48, 148, 141, .65);
  font-size: 25px;
  color: #111;
  
  
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


#left {
    float: left;
    position: relative;
    left: 5%;
    
  }

  #left a {
      color: white;
      text-decoration: none;
  }

  #right {
      position: relative;
      float: right;
      top: 20px;
      right: 5%;
  }
  img{
    position: relative;
    top: 3px;

  }

  #right a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #right a:hover {
    background-color: rgb(97, 163, 91);
    color: black;
    border-radius: 20px;
  }

  footer {
    display: flex;
  }

  @media screen and (max-width:666px){

    #left {
      position: relative;
      top:25px;
      max-width: 150px;
      font-size: 8px;

    }
    #right a{
      position: relative;
      top: 15px;
      padding: 0px 5px;
    }
    
  }
